[Unit]
Description=Dynamic Wallpaper with Hostname and IP Overlay
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dynamic-wallpaper.sh
#RemainAfterExit=true
User=root

[Install]
WantedBy=default.target
