#!/bin/bash

# Variables passed from Pyinfra
WORKING_DIR="{{ working_dir }}"
OVPN_HOST="{{ ovpn_host }}"

echo "Starting OpenVPN configuration script..."

# Ensure the working directory exists
mkdir -p "${WORKING_DIR}"

if [ ! -f "${WORKING_DIR}/openvpn.conf" ]; then

    docker run -v "${WORKING_DIR}:/etc/openvpn" --rm kylemanna/openvpn ovpn_genconfig -u "${OVPN_HOST}"

    if [ $? -eq 0 ]; then
        echo "OpenVPN server configuration generated successfully."
    else
        echo "Error: Failed to generate OpenVPN server configuration."
        exit 1
    fi
else
    echo "openvpn.conf already exists in ${WORKING_DIR}. Skipping configuration generation."
fi